.Form {
    width: 60%;
    max-width: 450px;
    margin:auto;
    padding: 15px;
    background: white;
}

.SignUpHeading {
    color: rgb(233, 233, 233) !important;
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 3em;
}

.SignUpButton {
    color: white !important;
}

.HeaderIcon {
    height: 85px;
    width: auto;
}